body{
    background-color: #202124; 
}
.cabeza{
    border: solid 1px;
    height: 80px;
}
.botones{
    width: 200px;
    height: 50px;
    border: 1px red solid;
    margin-left: 1146px;
}
.cuerpo{
    border: 1px red solid;
    height: 350px;
    width: 350px;
    margin: auto;
    margin-top: 120px;
    padding-left: 100px;
}
.buscando{
    height: 30px;
    width: 50px;
}